@import "tailwindcss";

/* Title section */
.section-title{
  background:#1e3a5f;
  color:white;
  padding:6px 15px;
  border-radius:20px;
  width:fit-content;
  margin-bottom:10px;
}

/* skill circle */
.skill-circle{
  width:70px;
  height:70px;
  border-radius:50%;
  border:6px solid #3b82f6;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:12px;
  font-weight:bold;
}